<section>
  <h1>Contact Us</h1>
  <h2>Learn more about the prevention of child abuse.</h2>
  <p>
    Please let us know if you have any questions or comments or if you are 
    interested in having a <a href="http://kidshavehope.org/about_us">
      Licensed Social Worker</a> visit your school. 
  </p>
  <%= render 'form_errors', object: @contact_request %>
  <%= form_for @contact_request do |f| %>
    <div>
      <%= f.label :contact_type, "Contact Type:" %>
      <%= f.select :contact_type, @contact_request.options %>
    </div>
    <div>
      <%= f.label :message %>
      <%= f.text_area :message %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :organization %>
        <%= f.text_field :organization %>
      </div>
      <div>
        <%= f.label :title, "Title/Occupation" %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :phone, "Phone number" %>
        <%= f.phone_field :phone %>
      </div>
      <%= f.submit "Submit" %>
    <% end %>
  </section>

  <aside>
    <h3>Get in touch!</h3>
    <ul class="no-list-style">
      <li><strong>Contact us by phone:</strong></li>
      <li>888-806-8481</li>
    </ul>
    <ul class="no-list-style">
      <li><strong>Contact us by mail:</strong></li>
      <li>Kids Have Hope</li>
      <li>P.O. Box 221066</li>
      <li>Chicago, IL 60622</li>
    </ul>
  </aside>
