<h1>Admin Section</h1>


<%= link_to 'kids corners', admin_kids_corners_path %>
<br />
<%= link_to 'workshop events', admin_events_path %>
<br />
<%= link_to 'fundraisers', admin_fundraisers_path %>
<br />
<%= link_to 'tweet', new_admin_social_path(:message => "") %>
<br />
<%= link_to 'donation campaigns', admin_donation_campaigns_path %>

