<h1>Admin Section</h1>

<%= link_to 'Kids Corners', admin_kids_corners_path %>
<br />
<%= link_to 'Workshop Events', admin_events_path %>
<br />
<%= link_to 'Fundraisers', admin_fundraisers_path %>
<br />
<%= link_to 'Donation Campaigns', admin_donation_campaigns_path %>
<br />
<%= link_to 'Quizzes', admin_quizzes_path %>
<br />
<%= link_to 'Social Networks', new_admin_social_path(:message => "") %>
