<h1><%= event.name %></h1>
<dl>
  <dt>Start:</dt>
  <dd><%= event.start_at %></dd>
  <dt>End:</dt>
  <dd><%= event.end_at %></dd>
  <dt>Location:</dt>
  <dd><%= event.location %></dd>
  <dt>Description:</dt>
  <dd><%= event.description %></dd>
</dl>
