<h1>Quiz: <%= @quiz.title %></h1>
<h2>Question: <%= @question.title %></h2>
<h3>Answer: <%= @answer.title %></h3>
<%= render 'shared/form_errors', object: @answer %>
<%= render 'admin/answers/form' %>
