<h1> Would you like to tweet the event?</h1>


<%= form_for :post_tweet, :url => admin_post_tweet_path do |form| %>
  <%= form.label :twitter_post%>
  <%= form.text_field :twitter_post, {:value => @message, :size => 140}%>
  <%= form.submit  "Post tweet"%>
<% end %>

<%= link_to "Don't tweet the event", admin_fundraisers_path%>