<h1> All Fundraisers</h1>
<table>
  <colgroup>
    <col></col>
    <col></col>
    <col></col>
    <col></col>
  </colgroup>
  <tr>
    <th> Name </th>
    <th> Location</th>
    <th> </th>
  </tr>
  <% @fundraisers.each do |fundraiser| %>
    <tr>
      <td><%= link_to fundraiser.name, admin_fundraiser_path(fundraiser)%></td>
      <td><%=  fundraiser.location%></td>
      <td><%= link_to "Add Tickets", admin_fundraiser_tickets_path(fundraiser)%></td>
      <td><%= link_to "Edit", edit_admin_fundraiser_path(fundraiser)%></td>
      <td><%= button_to "Delete", admin_fundraiser_path(fundraiser), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <%end%>
</table>
  <div class="button">
    <%= link_to "Add a new Fundraiser", new_admin_fundraiser_path%>
  </div>
    
