<%= form_for [:admin, @fundraiser] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :start_at %>
    <%= form.text_field :start_at, :class => "timepicker"%>
  </div>
  <div>
    <%= form.label :end_at %>
    <%= form.text_field :end_at, :class => "timepicker"%>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description, :size => "30x7"%>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  <div>
    <%= form.label :image %>
    <%= form.text_area :image, :size => "20x7"%>
  </div>
  <%= form.submit "Save"%>

<% end %>
