<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kids Have Hope</title>
    <%= stylesheet_link_tag "reset", "kidshavehope", "jquery" %>
    <link href="/images/logo/favicon.png" rel="icon" type="image/png">
    <%= javascript_include_tag 'jquery.min.js', 'jquery-ui.js'%>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div role="document">
      <header>
        <a href="/" id="logo" title="Back to Home">
          <img src="/images/logo/logo.png"
               alt="Kids Have Hope Logo"
               height="200"
               width="144" />
        </a>
        <nav role="navigation">
          <ul>
            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Kids Corner', kids_corners_path %></li>
          </ul>
          <ul>
            <li><a href="#">Events</a></li>
            <li><%= link_to 'Donate', donations_path %></li>
            <li><%= link_to 'Store', store_path %></li>
          </ul>
          <ul>
            <li><%= link_to 'Contact Us', new_contact_request_path %></li>
            <li><%= link_to 'Testimonials', testimonials_path %></li>
          </ul>
          <ul class="social-media">
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="twitter"><a href="#">Twitter</a></li>
            <li class="subscribe"><a href="#">Subscribe</a></li>
          </ul>
        </nav>
      <%- flash.each do |name, msg| %>
        <p class="#{name}"> <%= msg %> </p>
      <%- end %>
    </header> 
    <div role="main">
      <%= yield %>
    </div>
    <footer role="contentinfo" itemscope itemtype="http://schema.org/Organization">
      <ul>
        <li itemprop="name">Kids Have Hope</li>
        <li itemscope itemtype="http://schema.org/Organization">
          <span itemprop="addressLocality">Chicago</span>, 
          <span itemprop="addressRegion">IL</span></li>
        <li>
          <a href="mailto:melicurk@kidshavehope.org"
             itemprop="email">melicurk@kidshavehope.org
          </a>
        </li>
        <li itemprop="telephone">1-888-806-8481</li>
        <li>Copyright &copy; 2011 Kids Have Hope.&nbsp; <em>All rights reserved</em></li>
      </ul>
    </footer>
  </div>
</body>
</html>
